In [46]:
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,bartlett,wilcoxon,f_oneway #f_oneway is for anova
from statsmodels.stats.power import ttest_power
import pandas as pd
import scipy.stats as stats
from scipy.stats import chisquare,chi2_contingency
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Analyse market.txt and check the factor influensing subscription.Prove it with suitable statistical evidence
# a check income influencing sub t test
# b kids influence sub chi sq
#c gender influencing sub z test
#d age inf sub 2 t test
#e segment inf sub chisq
#f home area inf sub 2 ttest

In [2]:
M = pd.read_table('Market.txt',index_col=0)

In [3]:
M.head()

             age  gender       income  kids Home Subscribe     Segment
Individuals
Ind1          47    Male  49482.81044     2   No        No  Suburb mix
Ind2          31    Male  35546.28830     1  Yes        No  Suburb mix
Ind3          43    Male  44169.18638     0  Yes        No  Suburb mix
Ind4          37  Female  81041.98639     1   No        No  Suburb mix
Ind5          41  Female  79353.01444     3  Yes        No  Suburb mix

In [5]:
M.columns

Index(['age', 'gender', 'income', 'kids', 'Home', 'Subscribe', 'Segment'], dtype='object')

In [6]:
shapiro(M['income'])

(0.977647602558136, 0.00012440081627573818)

In [15]:
M_gender= M.groupby('Subscribe')
M1=M_gender.get_group('Yes')  
M2=M_gender.get_group('No')

In [17]:
G1=np.array(M['income'])
G2=np.array(M['income'])

In [18]:
shapiro(M1['income'])

(0.9477968811988831, 0.06370037794113159)

In [20]:
shapiro(M2['income'])

(0.9781917929649353, 0.0005084113217890263)

In [22]:
bartlett(M1['income'],M2['income'])

BartlettResult(statistic=0.7879412805420993, pvalue=0.3747233638590296)

In [28]:
p_val=ttest_ind(M1['income'],M2['income'])
p_val

Ttest_indResult(statistic=-1.6930425770994668, pvalue=0.09149242006282236)

In [ ]:
# As we are getting high p value we fail to reject H0 Hence income does not influence subscription

In [12]:
#verifying for kids influencing subs

In [13]:
M.shape

(300, 7)

In [30]:
M['kids'].value_counts()

0    121
1     70
2     51
3     36
4     13
5      6
6      2
7      1
Name: kids, dtype: int64

In [31]:
CT1=pd.crosstab(M['Subscribe'],M['kids'])
CT1

kids         0   1   2   3   4  5  6  7
Subscribe
No         109  56  42  32  13  6  1  1
Yes         12  14   9   4   0  0  1  0

In [33]:
ch_val,P_val,nrow,EC=chi2_contingency(CT1)

In [34]:
print(ch_val)

10.29313600837665

In [36]:
print(P_val)

0.17256134562175204

In [37]:
# reject and not influence

In [38]:
#verifying gender is influencing

In [39]:
CT=pd.crosstab(M['Subscribe'],M['gender'])
CT

gender     Female  Male
Subscribe
No            136   124
Yes            21    19

In [40]:
n1= CT.iloc[:,0].sum()
n2= CT.iloc[:,1].sum()
x1= CT.iloc[1,0]
x2= CT.iloc[1,1]
x1,x2,n1,n2

(21, 19, 157, 143)

In [47]:
def twosampz(x1,x2,n1,n2):
    p1=x1/n1
    p2=x2/n2
    pp=(x1+x2)/(n1+n2)
    zdata= (p1-p2)/np.sqrt((pp*(1-pp)*((1/n1)+(1/n2))))
    pval=2*(1-stats.norm.cdf(abs(zdata)))
    return round(zdata,3),round(pval,4)

In [49]:
z,p=twosampz(x1,x2,n1,n2)
print(z,p)

0.023 0.9819

In [ ]:
# From analysis, we conclude Moving up and urban hip segment people opted the subscription over other two segment